/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #183660;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #041c43;
  color: #fff;
  padding: 30px;
  margin-bottom:40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Main content styles */
.content {
  margin-top:20px;
  padding: 40px 20px;
  padding-top: 50px;
  max-width: 800px;
  margin: 100px auto;
  background-color: rgb(199, 209, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #333;
  padding-bottom: 30px;
}

.upload-section {
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-weight: bold;
  color: #333;
}

input[type="file"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  margin-top: 5px;
  font-size: 14px;
}

.submit-btn {
  background-color: #28a745;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.submit-btn:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

/* Preview and download section */
.hidden {
  display: none;
}

#preview-section {
  margin-top: 40px;
  text-align: center;
}

.excel-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.excel-table th,
.excel-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.excel-table th {
  background-color: #f2f2f2;
  color: #333;
}

.download-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.download-btn:hover {
  background-color: #0069d9;
  transform: translateY(-2px);
}
